<html>
    <head>
        <title>Log in</title>
    </head>

    <body>
        <form action='/sessions' method='post'>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            Email: <input type='text' name='Email'> <br>
            Password: <input type='password' name='Password'> <br>
            <input type='submit' value='Log In'>
        </form>
    </body>
</html>